<template>
  <tr @click="handleClick" :style="{ backgroundColor: isSelected ? selectedColor : 'inherit' }">
    <td>{{ index + 1 }}</td>
    <td>{{ item.nombre }}</td>
    <td>{{ item.apellido }}</td>
    <td>{{ item.edad }}</td>
    <td>{{ item.hobby }}</td>
  </tr>
</template>

<script setup>
import { ref, defineProps, defineEmits } from 'vue';

const props = defineProps(['item', 'index']);
const emit = defineEmits();

const isSelected = ref(false);
const selectedColor = ref('lightblue');

const handleClick = () => {
  isSelected.value = !isSelected.value;

  if (isSelected.value) {
    selectedColor.value = 'red';
  } else {
    selectedColor.value = 'lightblue';
  }

  emit('item-clicked', props.item);
};
</script>

<style scoped>
tr {
  cursor: pointer;
}

td {
  padding: 10px;
  text-align: center;
}

tr:hover {
  background-color: #f5f5f5;
}
</style>
