<template>
  <div>
    <table class="Tablaa">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Hobby</th>
        </tr>
      </thead>
      <tbody class="aver">
        <MenuItem
          v-for="(person, index) in menuItems"
          :key="index"
          :item="person"
          :index="index"
          @item-clicked="handlePersonClick"
        />
      </tbody>
    </table>

    <button @click="showForm" class="BTN">Agregar Persona</button>

    <div v-if="showingForm" class="modal-overlay">
      <div class="modal">
        <form @submit.prevent="addItem" class="form-container">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" v-model="newPerson.nombre" required>
          </div>

          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" v-model="newPerson.apellido" required>
          </div>

          <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="number" id="edad" v-model="newPerson.edad" required>
          </div>

          <div class="form-group">
            <label for="hobby">Hobby:</label>
            <input type="text" id="hobby" v-model="newPerson.hobby" required>
          </div>

          <button type="submit" class="submit-button">Agregar Persona</button>
        </form>
        <button @click="closeForm" class="close-button">Cerrar</button>
      </div>
    </div>
  </div>
</template>

<script setup>

import { ref } from 'vue';
import MenuItem from './MenuItem.vue';

const menuItems = ref([
  { nombre: 'John', apellido: 'Doe', hobby: 'Lectura', edad: 30 },
  { nombre: 'Jane', apellido: 'Smith', hobby: 'Deportes', edad: 25 },
  { nombre: 'Bob', apellido: 'Johnson', hobby: 'Música', edad: 35 },
  { nombre: 'Lian', apellido: 'Aguirre', hobby: 'Videojuegos', edad: 19 },
  { nombre: 'Luis', apellido: 'Fuentes', hobby: 'Dormir', edad: 20 },
  { nombre: 'Alberto', apellido: 'Carmona', hobby: 'Videojuegos', edad: 21 },
  { nombre: 'Ana', apellido: 'Morales', hobby: 'Música', edad: 20 },
  { nombre: 'Noemi', apellido: 'Un', hobby: 'Bailar', edad: 20 },
  { nombre: 'Ruben', apellido: 'Estrada', hobby: 'Anime', edad: 20 },
  { nombre: 'Roberto', apellido: 'Diaz', hobby: 'Música', edad: 35 },
]);

const newPerson = ref({
  nombre: '',
  apellido: '',
  edad: '',
  hobby: '',
});

const showingForm = ref(false);

const handlePersonClick = (clickedPerson) => {
  console.log(`Clic en la persona: ${clickedPerson.nombre} ${clickedPerson.apellido}`);
};

const showForm = () => {
  showingForm.value = true;
};

const closeForm = () => {
  showingForm.value = false;
};

const addItem = () => {
  if (
    newPerson.value.nombre &&
    newPerson.value.apellido &&
    newPerson.value.hobby &&
    !isNaN(newPerson.value.edad)
  ) {
    menuItems.value.push({ ...newPerson.value });
    newPerson.value = { nombre: '', apellido: '', edad: '', hobby: '' };
    showingForm.value = false;
  }
};
</script>

<style scoped>
.Tablaa {
  width: 300%;
  color: aliceblue;
  margin-left: -10%;
  background-color: rgba(14, 10, 14, 0.233);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h2 {
  text-align: center;
  color: #333;
}

.form-container {
  display: grid;
  gap: 10px;
}

.form-group {
  display: grid;
  gap: 5px;
}

.submit-button {
  background-color: #1c831c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
}
.aver{
  margin-left: 10px;
  width: 100%;
  background-color: aliceblue;
}
.close-button {
  margin-top: 10px;
  padding: 8px;
  background-color: rgb(0, 128, 6);
  color: aliceblue;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.BTN{
  background-color: green;
  width: 80%;
  height: 40px;
  margin-top: 10%;
  margin-left: -10%;
  color: antiquewhite;

}
</style>
