<template>
  <div>
    <h1 class="Titulos">Listado De Personas</h1>
    <MenuList class="redd" :menuItems="people" @item-clicked="handlePersonClick" @add-item="addPerson" />
    <router-view></router-view>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import MenuList from './components/MenuList.vue';



const handlePersonClick = (person) => {
  console.log(`Clic en la persona: ${person.nombre} ${person.apellido}`);
};

const addPerson = (newPerson) => {
  people.value.push(newPerson);
};
</script>
<style scoped>
.Titulos{
margin-left: -10%;
  width: 300%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: aliceblue;
  background-color: rgb(119, 131, 131);
  border-radius: 10px;

}
</style>